.card {
  display: flex;
  align-items: center; /* Centralizar na vertical */
  width:80%; /* Ajustar a largura conforme necessário */
  overflow: hidden;
  margin: 20px auto;
  background-color: #fff;
  height: 200px;
  gap:4px;
}

.card img {
  width: 40%; /* Largura da imagem */
  max-width: 120px; /* Largura máxima para evitar que a imagem fique muito grande */
  border-radius: 50%; /* Transformar a imagem em um círculo */
  margin: 0 20px; /* Espaçamento à esquerda da imagem */
}

.card .info {
  flex-grow: 1; /* Permitir que o texto ocupe o espaço restante */
  padding: 20px;
}


.card h5{
  margin: 20px 0px; /* Espaçamento inferior entre o nome e o tipo de serviço */

}

.card p {
  margin: 0 0 10px; /* Espaçamento inferior entre o nome e o tipo de serviço */
}

.card button {
  width: 150px;
  padding: 10px;
  background-color: #0c29ac;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #1970f1;
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 768px) {
  .card {
    flex-direction: column; /* Alinhar os elementos em coluna */
    align-items: flex-start; /* Alinhar os elementos à esquerda */
    height: auto; /* Altura automática */
    padding: 20px; /* Adicionar espaço interno */
 
  }
  
  .card img {
    margin: 0; /* Remover o espaçamento ao redor da imagem */
    align-self: center; /* Centralizar a imagem na horizontal */
    width: 50%; /* Reduzir um pouco a largura da imagem */
  }
  
  .card .info {
    width: 100%; /* Garantir que o texto ocupe toda a largura */
    text-align: center; /* Centralizar o texto na horizontal */
  }

  h5{
    font-size: 0.5em;
    width: 100%;
  }

  .card button {
    width: 100%; /* O botão ocupa toda a largura */
    margin-top: 20px; /* Adicionar espaço acima do botão */
  }
}
